.navbar-nav > .user-menu .user-image {
    border-radius: 0;
}

.skin-blue .main-header .navbar {
    background-color: #fff !important;
	margin-left: 0;
	/**border-bottom: 1px solid rgb(26,33,85);**/
	border-bottom: 1px solid #ccc;
}

.main-sidebar{
	padding-top: 80px !important;
}

.sidebar-menu li .sidebar-toggle {
    color: rgb(26,33,85) !important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: rgb(26,33,85) !important;
	background-color: #fff!important;
}

.main-sidebar{
	background-color: #fff !important;
}

.skin-blue .user-panel > .info, .skin-blue .user-panel > .info > a {
    color: rgb(26,33,85) !important;
}

.user-panel {
    width: 300px !important;
}

.main-sidebar, .left-side{
	width: 230px !important;
}

.skin-blue .sidebar-menu > li > a:hover{
	background-color: rgb(26,33,85) !important; /*CardinalStone blue*/
}

.skin-blue .sidebar-menu .active{
	background-color: rgb(26,33,85) !important; /*CardinalStone blue*/
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{
	background-color: rgb(26,33,85) !important; /*CardinalStone blue*/
}

.sidebar-menu > li .label{
	color: #b8c7ce;
}

.content-wrapper, .right-side, .main-footer {
	margin-left: 230px !important;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container > .label{
	margin-right: -30px;
}

.content-header > h1{
	color: rgb(26,33,85) !important; /*CardinalStone blue*/
}

.content-header > .breadcrumb {
	top: 5px !important;
}
