/**
* Font types are defined here
**/
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:400,700');

@font-face {
  font-family: "Typo-round-bold";
  src: url('../font/Typo_Round_Bold_Demo.otf');
  font-weight: 600;
  font-style: bold;
}
