body,html{
  height: 100%;
  font-size: 10px;
  font-family: 'Helvetica', 'Mukta Mahee', 'Typo-round-bold';
  overflow-y: hidden;
}

/**
* Backgrounds
**/
.bg-red{
  background: #DA0E0E !important;
}

.bg-green {
  background: #406940 !important;
}

.bg-pink {
  background: #735359 !important;
}

.bg-grey {
  background: #CCC
}


/**
* Font sizes
*
*/
.font-size-20 {
  font-size: 20px;
}
.font-size-30 {
  font-size: 30px;
}

