html,body{
  height: 100%;
  font-size: 10px;
  font-family: 'Verdana','Convergence','Quicksand','Helvetica', 'Mukta Mahee', 'Typo-round-bold';
  font-weight: 400;
}

a {
  text-decoration: none
}

/**
* Backgrounds
**/
.bg-red{
  background: #DA0E0E !important;
}

.bg-green {
  background: #406940 !important;
}

.bg-pink {
  background: #735359 !important;
}

.bg-grey {
  background: #CCC
}

.page-header {
  border-bottom: 1px solid #DAD3D3
}
