html,body{
  height: 100%;
  font-size: 11px;
  font-family: 'verdana','Helvetica', 'Mukta Mahee', 'Typo-round-bold'; // 'Verdana','Convergence','Quicksand',
  font-weight: 400;
}

a {
  text-decoration: none
}

a:focus, a:hover {
  text-decoration: none !important
}

/**
* Backgrounds
**/
.bg-red{
  background: #DA0E0E !important;
}

.bg-green {
  background: #406940 !important;
}

.bg-pink {
  background: #735359 !important;
}

.bg-grey {
  background: #CCC
}

.page-header {
  border-bottom: 1px solid #DAD3D3
}

.text-csp-light-blue {
  color: #428bca !important
}

.text-csp-blue {
  color: rgba(26,33,85, .9) !important
}

