/**
 * Width , Margin and Padding.
 */
 .w5p{width: 5%;}.w10p{width: 10%;}.w12p{width: 12%;}.w15p{width: 15%;}.w20p{width: 20%;}.w25p{width: 25%;}.w30p{width: 30%;}
 .w35p{width: 35%;}.w40p{width: 40%;}.w45p{width: 45%;}.w50p{width: 50%;} .w60p{width: 60%;} .w70p{width: 70%;}
 .w80p{width: 80%;}.w88p{width: 88%;}.w85p{width: 85%;}.w90p{width: 90%;}.w100p{width: 100%;}
 .m1{  margin: 1px;}.mt1{margin-top: 1px}.mb1{margin-bottom: 1px}.ml1{margin-left: 1px}.mr1{margin-right: 1px}
 .m2{  margin: 2px;}.mt2{margin-top: 2px}.mb2{margin-bottom: 2px}.ml2{margin-left: 2px}.mr2{margin-right: 2px}
 .m5{  margin: 5px;}.mt5{margin-top: 5px}.mb5{margin-bottom: 5px}.ml5{margin-left: 5px}.mr5{margin-right: 5px}
 .m10{  margin: 10px;}.mt10{margin-top: 10px}.mb10{margin-bottom: 10px}.ml10{margin-left: 10px}.mr10{margin-right: 10px}
 .m15{  margin: 15px;}.mt15{margin-top: 15px}.mb15{margin-bottom: 15px}.ml15{margin-left: 15px}.mr15{margin-right: 15px}
 .m20{  margin: 20px;}.mt20{margin-top: 20px}.mb20{margin-bottom: 20px}.ml20{margin-left: 20px}.mr20{margin-right: 20px}
 .m25{  margin: 25px;}.mt25{margin-top: 25px}.mb25{margin-bottom: 25px}.ml25{margin-left: 25px}.mr25{margin-right: 25px}
 .m30{  margin: 30px;}.mt30{margin-top: 30px}.mb30{margin-bottom: 30px}.ml30{margin-left: 30px}.mr30{margin-right: 30px}
 .m35{  margin: 35px;}.mt35{margin-top: 35px}.mb35{margin-bottom: 35px}.ml35{margin-left: 35px}.mr35{margin-right: 35px}
 .m40{  margin: 40px;}.mt40{margin-top: 40px}.mb40{margin-bottom: 40px}.ml40{margin-left: 40px}.mr40{margin-right: 40px}
 .m90{  margin: 90px;}.mt90{margin-top: 90px}.mb90{margin-bottom: 90px}.ml90{margin-left: 90px}.mr90{margin-right: 90px}
 .m100{  margin: 100px;}.mt100{margin-top: 100px}.mb100{margin-bottom: 100px}.ml100{margin-left: 100px}.mr100{margin-right: 100px}
 .margin-center{margin-right: auto;margin-left: auto;}
 .p0{padding: 0px;}.pt0{padding-top: 0px;}.pb0{padding-bottom: 0px;}.pl0{padding-left: 0px;}.pr0{padding-right: 0px}
 .p5{padding: 5px;}.pt5{padding-top: 5px;}.pb5{padding-bottom: 5px;}.pl5{padding-left: 5px;}.pr5{padding-right: 5px}
 .p10{padding: 10px;}.pt10{padding-top: 10px;}.pb10{padding-bottom: 10px;}.pl10{padding-left: 10px;}.pr10{padding-right: 10px}


 .vert-center {
   margin-top: auto;
   margin-bottom: auto;
 }
